/* CONTAINER ESTERNO */
.my-container{
   background-color: #242424;
   position: absolute;
   top: 50%;
   right: 50%;
   transform: translate(50%, -50%);
}
 
/* BOX PIU PICCOLO */
.box{
   box-shadow:  4px 12px 24px rgba(0, 0, 0, 0.25);
   border-radius: 20px;
   background-color: #242424;
   height: 40%;
   margin: 10%;
}

.l-box{
   width: 80%;
   color: white;
   padding: 20px;
}

.list-item {
   cursor: pointer;
   user-select: none;
}

/* STILIZZAZIONI DELLE SCRITTE */
.title{
   line-height: 80px;
}

.strikethrough,
.barred {
   text-decoration: line-through;
}
.b-space{
   position: absolute;
   top: 90%;
   right: 50%;
   transform: translate(50%, -50%);
}

/* STILIZZAZIONE DEI BOTTONI */
.my-btn{
   background-color: #716FB2 !important;
   color: black !important;
   border-radius: 40px !important;
   border: none !important;
   box-shadow:  4px 12px 24px rgba(0, 0, 0, 0.25) !important;
   height: 50px;
   
}
.my-btn2{
   background-color: #716FB2 !important;
   color: black !important;
   border-radius: 40px !important;
   border: none !important;
   box-shadow:  4px 12px 24px rgba(0, 0, 0, 0.25) !important;
   width: 90px;
}  
   
/* QUADRATO */

.distance{
   line-height: 170px;
  transform: translate(55%,25%);
}
.distance-list{
   color: white;
   transform: translate(30%,90%);
   border: none;
   background-color:transparent;
   outline: none;
}

   

.form-square{
   margin: 0 auto;
   width: 300px;
   border-radius: 30px;
   background-color: #242424;
   
}

/* POP UP */
.popup-content {
   margin: auto;
   background: none !important;
   width: 50%;
   padding: 5px;
   border: none !important;
   
}
.none{
   display: none;
}

   
   

      